// variables
$primaryColor: #512da8;
$sizeText: 26px;
$offWhite: #f6f8fb;
$linkHoverColor: #d1c4e9;
$bannerHeading: 46px;

// mixins
@mixin banner {
  width: 100%;
  position: relative;
  color: white;

  img {
    width: 100%;
  }

  .banner-content {
    position: absolute;
    top: 50px;
    width: 100%;
  }

  span {
    display: block;
    font-size: $bannerHeading;
    text-transform: uppercase;
    font-weight: bold;
  }

  span.title {
    font-weight: normal;
    margin-bottom: 30px;
  }
}

#main-nav {
  background: $primaryColor;
  ul {
    width: 100%;
  }

  li {
    float: left;
    width: 14%;
  }

  a {
    color: $offWhite;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
    transition: 0.3s;
  }

  a:hover {
    color: $linkHoverColor;
  }

  ul:after {
    content: "";
    display: block;
    clear: both;
  }
} // --end of #main-nav

section h1 {
  font-size: $sizeText;
}

.lead-banner {
  @include banner;
  text-align: right;
}

.lessons-banner {
  @include banner;
  li {
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 20px;
  }
}
